/* Upload Screen - Empty State (phone) */

position: relative;
width: 393px;
height: 853px;
left: 1910px;
top: 513px;

/* Background/bg - Gradient */
background: linear-gradient(180deg, #EEEEEE 0%, #DADADA 100%);


/* Home Indicator */

position: absolute;
height: 1px;
left: 0px;
right: 0px;
bottom: 0px;



/* Frame 1984077325 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 32px 0px 0px;
gap: 24px;

position: absolute;
width: 373px;
height: 694px;
left: calc(50% - 373px/2);
top: 174px;
overflow-y: scroll;

border-radius: 40px;


/* Frame 1984078314 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 373px;
height: 482.42px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1984078312 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 8px;

width: 373px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1984078242 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;

width: 373px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1984078197 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;

width: 373px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Upload Question Paper & Answer Sheets */

width: 373px;
height: 58px;

font-family: 'Bricolage Grotesque';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
/* or 29px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.04em;

/* Background/Dark-Grey */
color: #2B2B2B;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1984078313 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;

width: 373px;
height: 412.42px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 1618872259 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10.5623px 9.60213px;
gap: 1.6px;
isolation: isolate;

width: 109.62px;
height: 110.42px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1618872256 */

position: absolute;
width: 110.42px;
height: 110.42px;
left: 0px;
top: calc(50% - 110.42px/2);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Ellipse 6 */

position: absolute;
width: 110.42px;
height: 110.42px;
left: calc(50% - 110.42px/2 + 0px);
top: 0px;

background: rgba(255, 86, 35, 0.1);
backdrop-filter: blur(1.3603px);
/* Note: backdrop-filter has minimal browser support */


/* Ellipse 7 */

position: absolute;
width: 86.42px;
height: 86.42px;
left: calc(50% - 86.42px/2 + 0px);
top: 12.48px;

background: rgba(255, 86, 35, 0.26);


/* Group 4 */

position: absolute;
width: 62.89px;
height: 77.46px;
left: calc(50% - 62.89px/2 + 0.4px);
top: 9.12px;



/* Ellipse 3 */

position: absolute;
width: 62.89px;
height: 62.22px;
left: 24.17px;
top: 24.26px;

/* Background/white */
background: #FFFFFF;


/* Ellipse 4 */

box-sizing: border-box;

position: absolute;
width: 23.21px;
height: 34.41px;
left: 44.01px;
top: 36.64px;

background: #000000;
border: 1.28028px solid rgba(246, 246, 246, 0.97);
filter: blur(8.00178px);


/* WhatsApp Image 2024-11-27 at 23.37.29_f1b4a656 1 */

position: absolute;
width: 62.89px;
height: 77.46px;
left: 24.17px;
top: 9.12px;

background: url(.png);
border-radius: 42.1961px;


/* Frame 1618872257 */

width: 90.42px;
height: 89.14px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2.66047px 2.52045px;
gap: 1.4px;

position: absolute;
width: 10.24px;
height: 10.24px;
left: 0px;
top: 25.93px;

/* Primary/primary - Orange - gradient */
background: linear-gradient(121.62deg, #FB975D 30.95%, #FC5E24 69.77%);
border-radius: 140.025px;


/* Task Square */

width: 5.6px;
height: 5.6px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Background/white */
border: 0.5601px solid #FFFFFF;


/* Frame 4 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2.66047px 2.52045px;
gap: 1.4px;

position: absolute;
width: 10.24px;
height: 10.24px;
left: 80.18px;
top: 55.85px;

/* Primary/primary - Orange - gradient */
background: linear-gradient(121.62deg, #FB975D 30.95%, #FC5E24 69.77%);
border-radius: 140.025px;


/* Cloud Lightning */

width: 5.6px;
height: 5.6px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

position: absolute;
left: 8.66%;
right: 8.65%;
top: 16.49%;
bottom: 8.89%;

/* Background/white */
border: 0.5601px solid #FFFFFF;


/* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2.66047px 2.52045px;
gap: 1.4px;

position: absolute;
width: 10.24px;
height: 10.24px;
left: 56.65px;
top: 0px;

/* Primary/primary - Orange - gradient */
background: linear-gradient(121.62deg, #FB975D 30.95%, #FC5E24 69.77%);
border-radius: 140.025px;


/* Clock */

width: 5.6px;
height: 5.6px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Background/white */
border: 0.5601px solid #FFFFFF;


/* Frame 5 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2.66047px 2.52045px;
gap: 1.4px;

position: absolute;
width: 10.24px;
height: 10.24px;
left: 22.25px;
top: 78.9px;

/* Primary/primary - Orange - gradient */
background: linear-gradient(121.62deg, #FB975D 30.95%, #FC5E24 69.77%);
border-radius: 140.025px;


/* settings */

width: 5.6px;
height: 5.6px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

position: absolute;
left: 8.12%;
right: 8.13%;
top: 8.33%;
bottom: 8.33%;

/* Background/white */
background: #FFFFFF;


/* Frame 1984078196 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

width: 373px;
height: 290px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 1984077806 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px;
gap: 16px;

width: 373px;
height: 290px;

/* Background/white-50 */
background: rgba(255, 255, 255, 0.5);
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1984078305 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 349px;
height: 266px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1984078268 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 10px;
gap: 10px;

width: 349px;
height: 127px;

/* Background/white */
background: #FFFFFF;
/* Background/bg-off white 50% */
border: 1.5px dashed #CECECE;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1984077924 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 8px;

width: 188px;
height: 92px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1984078308 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 3.33333px;
gap: 8.33px;

width: 40px;
height: 40px;

background: #F3F3F3;
border-radius: 6.66667px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* upload */

width: 26.67px;
height: 26.67px;

border-radius: 4.16667px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.67%;
bottom: 16.67%;

/* Text/Primary */
background: #303030;


/* Frame 1618872200 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 2px;

width: 188px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Upload Question Paper */

width: 188px;
height: 25px;

/* Typography-tokens/Paragraph/Paragraph - Primary - Bold - 700/P-2 */
font-family: 'Bricolage Grotesque';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 140%;
/* or 25px */
display: flex;
align-items: center;
letter-spacing: -0.04em;

/* Text/Primary */
color: #303030;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Max 10MB */

width: 54px;
height: 17px;

/* Typography-tokens/Paragraph/Paragraph - Primary - Regular - 400/P-5 */
font-family: 'Bricolage Grotesque';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 140%;
/* identical to box height, or 17px */
display: flex;
align-items: center;
letter-spacing: -0.04em;

/* Text/Secondary Muted */
color: rgba(94, 94, 94, 0.55);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1984078269 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 10px;
gap: 10px;

width: 349px;
height: 127px;

/* Background/white */
background: #FFFFFF;
/* Background/bg-off white 50% */
border: 1.5px dashed #CECECE;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 1984077925 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 8px;

width: 177px;
height: 92px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1984078309 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 3.33333px;
gap: 8.33px;

width: 40px;
height: 40px;

background: #F3F3F3;
border-radius: 6.66667px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* upload */

width: 26.67px;
height: 26.67px;

border-radius: 4.16667px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.67%;
bottom: 16.67%;

/* Text/Primary */
background: #303030;


/* Frame 1618872200 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 2px;

width: 177px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Upload Answer Sheet */

width: 177px;
height: 25px;

/* Typography-tokens/Paragraph/Paragraph - Primary - Bold - 700/P-2 */
font-family: 'Bricolage Grotesque';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 140%;
/* or 25px */
display: flex;
align-items: center;
letter-spacing: -0.04em;

/* Text/Primary */
color: #303030;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Max 10MB */

width: 54px;
height: 17px;

/* Typography-tokens/Paragraph/Paragraph - Primary - Regular - 400/P-5 */
font-family: 'Bricolage Grotesque';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 140%;
/* identical to box height, or 17px */
display: flex;
align-items: center;
letter-spacing: -0.04em;

/* Text/Secondary Muted */
color: rgba(94, 94, 94, 0.55);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1984078309 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;

width: 373px;
height: 100px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Primary Button - Dark */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 20px 12px 24px;
gap: 8px;

width: 161px;
height: 44px;

/* Text/Primary */
background: #303030;
opacity: 0.25;
border: 2px solid rgba(255, 255, 255, 0.15);
border-radius: 64px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Start Mapping */

width: 89px;
height: 20px;

/* Typography-tokens/Paragraph/Paragraph - Primary - Medium - 500/P-4 */
font-family: 'Bricolage Grotesque';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.04em;

/* Background/white */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon_line/Arrow_Right */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector (Stroke) */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 16.67%;
bottom: 16.67%;

background: #FFFFFF;


/* Once both files are uploaded, you’ll able to map answers with questions */

width: 285px;
height: 44px;

font-family: 'Bricolage Grotesque';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* or 157% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.04em;

/* Text/Secondary Default */
color: rgba(94, 94, 94, 0.8);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Address Bar iOS / X Chrome */

position: absolute;
width: 393px;
height: 105px;
left: calc(50% - 393px/2);
top: 0px;



/* Background */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Background */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* iOS/Chrome/Bars Background Dark */
background: #353739;
backdrop-filter: blur(13.5914px);
/* Note: backdrop-filter has minimal browser support */


/* iOS / Separator */

position: absolute;
height: 1px;
left: 0px;
right: 0px;
bottom: 0px;

transform: matrix(1, 0, 0, -1, 0, 0);


/* Line */

position: absolute;
height: 0px;
left: 0px;
right: 0px;
bottom: 0px;

/* iOS/Separetor */
border: 0.5px solid rgba(0, 0, 0, 0.2);


/* iOS / Status Bar / X / Default */

position: absolute;
height: 44px;
left: 0px;
right: 0px;
top: 0px;



/* Action */

position: absolute;
left: 5.3%;
right: 80.37%;
top: 43.18%;
bottom: 15.91%;



/* Time */

position: absolute;
width: 54px;
height: 18px;
left: 0px;
top: calc(50% - 18px/2);

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;
/* identical to box height */
text-align: center;
letter-spacing: -0.165px;

/* White */
color: #FFFFFF;



/* Container */

position: absolute;
width: 68px;
height: 14px;
right: 34px;
top: calc(50% - 14px/2 + 6px);



/* icon battery */

position: absolute;
width: 29px;
height: 20px;
left: 41px;
top: -3px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 20px;

/* White */
color: #FFFFFF;



/* Combined Shape */

position: absolute;
left: 0.74%;
right: 74.12%;
top: 11.43%;
bottom: 12.14%;

/* White */
background: #FFFFFF;


/* Rectangle */

position: absolute;
left: 0.74%;
right: 94.85%;
top: 59.29%;
bottom: 12.14%;

background: #000000;
border-radius: 1.2px;


/* Rectangle */

position: absolute;
left: 7.79%;
right: 87.79%;
top: 45%;
bottom: 12.14%;

background: #000000;
border-radius: 1.2px;


/* Rectangle */

position: absolute;
left: 14.56%;
right: 81.03%;
top: 28.57%;
bottom: 12.14%;

background: #000000;
border-radius: 1.2px;


/* Rectangle */

position: absolute;
left: 21.47%;
right: 74.12%;
top: 11.43%;
bottom: 12.14%;

background: #000000;
border-radius: 1.2px;


/* icon wi-fi */

position: absolute;
width: 19px;
height: 17px;
left: 21px;
top: -1px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

/* White */
color: #FFFFFF;



/* iOS / Chrome / Address Bar */

position: absolute;
height: 40px;
left: 10px;
right: 10px;
bottom: 11px;



/* bar-input */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* iOS/Chrome/Address Field Background */
background: #5E6268;
border-radius: 30px;


/* iOS / Chrome / Address */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 7px;

position: absolute;
width: 173px;
height: 19px;
left: calc(50% - 173px/2 + 1px);
top: calc(50% - 19px/2 + 0.5px);



/* Union */

width: 8px;
height: 10px;

/* White */
background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 3 */

position: absolute;
width: 8px;
height: 6.77px;
left: 0px;
top: 7.73px;

background: rgba(0, 0, 0, 0.5);


/* Rectangle 4 (Stroke) */

position: absolute;
width: 5.43px;
height: 7.27px;
left: 1.38px;
top: 4.5px;

background: #770D0D;


/* domain */

width: 158px;
height: 19px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Union */

position: absolute;
width: 14px;
height: 18px;
left: 342px;
top: 11px;

background: #BDC0C6;


/* Union */

position: absolute;
width: 8.41px;
height: 12.47px;
left: 344.79px;
top: 11px;

background: #000000;


/* Vector 2 (Stroke) */

position: absolute;
width: 2px;
height: 11.05px;
right: 23px;
top: calc(50% - 11.05px/2 - 2.05px);

background: #000000;


/* Vector 1 (Stroke) */

position: absolute;
width: 8.41px;
height: 5.65px;
right: 19.79px;
top: calc(50% - 5.65px/2 - 6.18px);

background: #000000;


/* Subtract */

position: absolute;
width: 14px;
height: 11.55px;
left: 342px;
top: 17.44px;

background: #000000;


/* Rectangle 1 */

box-sizing: border-box;

position: absolute;
width: 14px;
height: 11.56px;
right: 17px;
top: calc(50% - 11.56px/2 + 3.22px);

border: 2px solid #000000;
border-radius: 2px;


/* Rectangle 2 */

position: absolute;
width: 8px;
height: 4.02px;
right: 20px;
top: calc(50% - 4.02px/2 - 1.55px);

background: #C4C4C4;


/* Frame 1984077205 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 18px 20px;
gap: 12px;

position: absolute;
width: 393px;
height: 81px;
left: 0px;
top: 105px;

background: rgba(255, 255, 255, 0.01);
backdrop-filter: blur(0px);
/* Note: backdrop-filter has minimal browser support */


/* Frame 1618872397 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 16px 0px 12px;
gap: 176px;

width: 373px;
height: 56px;

/* Background/white */
background: #FFFFFF;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1984077294 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

margin: 0 auto;
width: 95px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* arrow_back */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.67%;
bottom: 16.67%;

/* M3/sys/light/on-surface */
background: #1D1B20;


/* VedaAI */

width: 63px;
height: 28px;

font-family: 'Bricolage Grotesque';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 140%;
/* identical to box height, or 28px */
display: flex;
align-items: center;
letter-spacing: -0.06em;

/* Text/Primary */
color: #303030;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1984077614 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 12px;

margin: 0 auto;
width: 116px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1618872411 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;
isolation: isolate;

width: 36px;
height: 36px;

/* Background/bg-off white primary */
background: #F6F6F6;
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* .Icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 29.17%;

/* Text/Primary */
border: 2px solid #303030;


/* Vector */

position: absolute;
left: 42.79%;
right: 42.79%;
top: 87.5%;
bottom: 8.35%;

/* Text/Primary */
border: 2px solid #303030;


/* Ellipse 9 */

position: absolute;
width: 8px;
height: 8px;
left: 27px;
top: 1px;

/* Buttons/primary - Orange */
background: #FF5623;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Frame 1618872412 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 32px;
height: 32px;

background: url(d48ca990897411b3cccc9c5098d9d1b0.jpg),
url(WhatsApp Image 2026-01-11 at 18.12.44),
#F6F6F6;
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* menu */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* icon */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 25%;
bottom: 25%;

/* M3/sys/light/on-surface */
background: #1D1B20;


/* Frame 1984077606 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 10px;
gap: 12px;

position: absolute;
width: 393px;
height: 16px;
left: 0px;
bottom: 0px;

background: rgba(255, 255, 255, 0.01);
backdrop-filter: blur(12px);
/* Note: backdrop-filter has minimal browser support */


/* Line 1 */

width: 128px;
height: 0px;

border: 5px solid rgba(48, 48, 48, 0.5);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;